<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I am currently an independent contractor based in Birmingham, AL. I graduated from
      <a class="underline-link" href="https://www.mc.edu/" target="_blank">Mississippi College University</a> with a degree in Graphic Design and a minor in Marketing. 
      After graduation, I worked with 
      <a class="underline-link" href="https://madg.com/" target="_blank">Mad Genius Agency</a> in Ridgeland, MS, supporting clients like Superior Catfish, Memorial Hospital, 
      and Southern Farm Bureau. Today, I combine my design background with front-end development to create beautiful and valuable experiences for clients of all sizes. I'm passionate about my craft and adding value to customers through technology and asthetics. 
      Honoring another's vision, mission, and legacy through what skills I can offer are the partnerships that I live for. 
      
    </p>

    <p>
      As a front-end developer with a background in design, I thrive at the intersection of form and function. I’m passionate about crafting interfaces that are intuitive, accessible, 
      and performant — aligning thoughtful design with my client's main goals. I care deeply about making information and tools more accessible, empowering people to learn, grow, and improve 
      their quality of life through better print and digital experiences.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably reading, painting some scene I just had to get on a canvas,
      or planting something new in the garden.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
