<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently an independent contractor based in Birmingham, AL. I graduated from
      <a class="underline-link" href="https://www.mc.edu/" target="_blank">Mississippi College University</a> with a degree in Graphic Design and a minor in Marketing. 
      After graduation, I worked with 
      <a class="underline-link" href="https://madg.com/" target="_blank">Mad Genius Agency</a> in Ridgeland, MS, supporting clients like Superior Catfish, Memorial Hospital, 
      and Southern Farm Bureau. Today, I combine my design background with front-end development to create accessible, thoughtful experiences—driven by a personal passion for 
      building tools that empower people of all abilities.
    </p>

    <p>
      As a front-end developer with a background in UI/UX design, I thrive at the intersection of form and function. I’m passionate about crafting interfaces that are intuitive, accessible, 
      and performant — aligning thoughtful design with clean, scalable code. I care deeply about making information and tools more accessible, empowering people to learn, grow, and improve 
      their quality of life through better digital experiences.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably snowboarding, cruising around on my penny board,
      or crossing off another item on my bucket list.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
