<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">

    <div class="project superior">

      <figure class="project__pic rotating">
        <a href="https://superiorcatfish.com/" target="_blank">
          <img src="{{site.baseurl}}img/featured/superior/superiorLogo.png" class="active" alt="">
          <img src="{{site.baseurl}}img/featured/superior/superiorBlackened.jpg" alt="">
          <img src="{{site.baseurl}}img/featured/superior/superiorBox.png" alt="">
          <img src="{{site.baseurl}}img/featured/superior/superiorStationary.png" alt="">
          <img src="{{site.baseurl}}img/featured/superior/superiorSalesSheet.png" alt="">
          <img src="{{site.baseurl}}img/featured/superior/superiorBillboard.png" alt="">
          <img src="{{site.baseurl}}img/featured/superior/superiorSocial.png" alt="">
          <img src="{{site.baseurl}}img/featured/superior/superiorApron.png" alt="">
          <img src="{{site.baseurl}}img/featured/superior/superiorBreading.jpg" alt="">
          <img src="{{site.baseurl}}img/featured/superior/superiorFish.jpg" alt="">
          <img src="{{site.baseurl}}img/featured/superior/superiorArial.png" alt="">
          <img src="{{site.baseurl}}img/featured/superior/superiorCard.png" alt="">
          <img src="{{site.baseurl}}img/featured/superior/superiorBook.png" alt="">
          <img src="{{site.baseurl}}img/featured/superior/superiorPonds.png" alt="">
          <img src="{{site.baseurl}}img/featured/superior/superiorMan.jpg" alt="">
        </a>
      </figure>

      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://superiorcatfish.com/" target="_blank">Superior Catfish</a>
        </div>
        <p>Custom site built and launched during their rebrand. Currated assets included on site photography and hand drawn custom illustrations.</p>
      </figcaption>
    </div>



    <div class="project archie">
      <figure class="project__pic rotating">
        <a href="https://www.behance.net/gallery/224867283/Archies-Big-Adventure" target="_blank">
        
          <img src="{{site.baseurl}}img/featured/archieCover.png" class="active" alt="">
          <img src="{{site.baseurl}}img/featured/archieDirtyBall.png" alt="">
          <img src="{{site.baseurl}}img/featured/archieSamplePage.png" alt="">
          <img src="{{site.baseurl}}img/featured/archieSamplePage2.png" alt="">
          <img src="{{site.baseurl}}img/featured/archieCover2.png" alt="">
      
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://www.behance.net/gallery/224867283/Archies-Big-Adventure" target="_blank">Archie's Special Gift</a>
        </div>
        <p>Taking care of your things and stewarding the world you're given is a crucial life lesson. Hear it told anew as
           we follow Archie and his furry friends.</p>
      </figcaption>
    </div>





    <div class="project honorsCollege">
      <figure class="project__pic rotating">
        <a href="https://www.mc.edu/honors/" target="_blank">
          <img src="{{site.baseurl}}img/featured/honorsCollege/hcLogo.png" class="active" alt="">
          <img src="{{site.baseurl}}img/featured/honorsCollege/hcScreen.png" alt="">
          <img src="{{site.baseurl}}img/featured/honorsCollege/hcAlumni.png" alt="">
          <img src="{{site.baseurl}}img/featured/honorsCollege/hcEmboss.png" alt="">
          <img src="{{site.baseurl}}img/featured/honorsCollege/hcFolder.png" alt="">
          <img src="{{site.baseurl}}img/featured/honorsCollege/hcStudent.png" alt="">
          <img src="{{site.baseurl}}img/featured/honorsCollege/hcCards.png" alt="">
          <img src="{{site.baseurl}}img/featured/honorsCollege/hcSweatshirt.png" alt="">
          <img src="{{site.baseurl}}img/featured/honorsCollege/hcStationary.png" alt="">
          
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://www.mc.edu/honors/" target="_blank">Honors College</a>
        </div>
        <p>Interactive marketing website for Northeastern's first annual student-led design conference, Interventions.</p>
      </figcaption>
    </div>
  </div>
</section>
