<header class="intro">
  <img class="introLogo" src="img/Logo.png" alt="Austin King Logo" />
  
  <script src="https://cdn.jsdelivr.net/npm/typed.js@2.1.0/dist/typed.umd.js"></script>

  
  <h2 class="intro__tagline">I'm
    <span class="name">Austin King. </span>Artist by calling, programmer by perseverance. I sleep better at night when <span class="autoType"></span>
    <span class="emoji technologist"></span>
  </h2>

  <h3 class="intro__contact">
    <span>Project Inquiries </span>
    <span class="emoji pointer"></span>
    <span>
      <a href="mailto:7891.kingab@gmail.com" target="_blank" class="highlight-link">7891.kingab@gmail.com</a>
    </span>
  </h3>


</header>
