---
layout: compress
---
<!DOCTYPE html>
<html>
<head>
  {% include head.html %}
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="css/main.css" hreflang="en-us">

  <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-JKKX473K7W"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-JKKX473K7W');
</script>
  
  
</head>
<body>

  <div class="blob-cursor"></div>

  {{ content }}
  {% include scripts.html %}
</body>
</html>
